<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game!</title>
</head>

<body>

    <table class="tg">
        <tbody>
            {% for row in board %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="app.js"></script>
<form action="/" method="POST" id="form"></form>
Make a guess <input type="test">
<button type="submit" id="submit-btn">submit answer</button>
</form>

</html>