<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game!</title>
</head>

<body>

    <table class="tg">
        {% for i in board%}
        board.insert(<tr></tr>)
        {% for j in board %}
        board.insert(<th></th>)
        {% endfor %}
        {% endfor %}
    </table>

</body>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

<form action="/" method="POST">
    Make a guess <input type="test">
</form>

</html>